@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-weight: bold;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 45vw;
}

label {
  font-size: 20px;
}

.firstname-lastname {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.email {
  width: 85%;
}

.name {
  width: 47%;
}

input {
  color: #2c3e50;
  background: #e8ebed;
  border-radius: 0px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px;
  opacity: 0.8;
}

.btn {
  color: black;
  width: 200px;
  height: 50px;
  background: #3b87c3;
  color: #ced1d6;
  border: 0 none;
  font-family: "PT Sans", sans-serif;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin-bottom: 25px;
  font-size: 20px;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
}

.phone {
  margin-bottom: 30px;
}
